In [298]:
import pandas as pd
import numpy as np

In [299]:
ano_2015 = pd.read_csv('bases/2015.csv')
ano_2015.head(3)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204

In [300]:
ano_2016 = pd.read_csv('bases/2016.csv')
ano_2016.head(3)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137

In [301]:
ano_2017 = pd.read_csv('bases/2017.csv')
ano_2017.head(3)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715

In [302]:
ano_2018 = pd.read_csv('bases/2018.csv')
ano_2018.head(3)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408

In [303]:
ano_2019 = pd.read_csv('bases/2019.csv')
ano_2019.head(3)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341

In [304]:
#Conhecendo as colunas de cada database
print(ano_2015.columns)
print(ano_2016.columns)
print(ano_2017.columns)
print(ano_2018.columns)
print(ano_2019.columns)

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')
Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [305]:
#Acrescentando uma coluna com o ano em cada database
ano_2015["Year"] = 2015
ano_2016["Year"] = 2016
ano_2017["Year"] = 2017
ano_2018["Year"] = 2018
ano_2019["Year"] = 2019

In [306]:
#Renomeando colunas, deixando com o mesmo nome - tendo como base os nomes das colunas de 2015
ano_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Year'],
      dtype='object')

In [307]:
ano_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
      dtype='object')

In [308]:
ano_2017.rename(
    columns = {
    'Happiness.Rank':'Happiness Rank',
    'Happiness.Score':'Happiness Score',
    'Economy..GDP.per.Capita.':'Economy (GDP per Capita)',
    'Health..Life.Expectancy.':'Health (Life Expectancy)',
    'Trust..Government.Corruption.':'Trust (Government Corruption)',
    'Dystopia.Residual':'Dystopia Residual'
    },inplace = True)

In [309]:
ano_2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [310]:

ano_2018.rename(
    columns = {
    'Overall rank':'Happiness Rank',
    'Country or region':'Country',
    'Score':'Happiness Score',
    'GDP per capita':'Economy (GDP per Capita)',
    'Social support':'Family',
    'Healthy life expectancy':'Health (Life Expectancy)',
    'Freedom to make life choices':'Freedom',
    'Perceptions of corruption':'Trust (Government Corruption)'
    },inplace = True)

In [311]:
ano_2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [312]:
ano_2019.rename(
    columns = {
    'Overall rank':'Happiness Rank',
    'Country or region':'Country',
    'Score':'Happiness Score',
    'GDP per capita':'Economy (GDP per Capita)',
    'Social support':'Family',
    'Healthy life expectancy':'Health (Life Expectancy)',
    'Freedom to make life choices':'Freedom',
    'Perceptions of corruption':'Trust (Government Corruption)'
    },inplace = True)

In [313]:
#Analisando os data types
ano_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
 12  Year                           158 non-null    int64
dtypes: float64(9), int64(2), object(2)
memory usage: 16.2+ KB

In [314]:
ano_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
 13  Year                           157 non-null    int64
dtypes: float64(10), int64(2), object(2)
memory usage: 17.3+ KB

In [315]:
ano_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness Rank                 155 non-null    int64
 2   Happiness Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy (GDP per Capita)       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health (Life Expectancy)       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust (Government Corruption)  155 non-null    float64
 11  Dystopia Residual              155 non-null    float64
 12  Year                           155 non-null    int64
dtypes: float64(10), int64(2), object(1)
memory usage: 15.9+ KB

In [316]:
ano_2018.info()

#Foi encontrado um valor Nan

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 156 non-null    int64
 1   Country                        156 non-null    object
 2   Happiness Score                156 non-null    float64
 3   Economy (GDP per Capita)       156 non-null    float64
 4   Family                         156 non-null    float64
 5   Health (Life Expectancy)       156 non-null    float64
 6   Freedom                        156 non-null    float64
 7   Generosity                     156 non-null    float64
 8   Trust (Government Corruption)  155 non-null    float64
 9   Year                           156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

In [317]:
#Substituição do valor Nan
ano_2018.fillna(0, inplace = True)

In [318]:
ano_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 156 non-null    int64
 1   Country                        156 non-null    object
 2   Happiness Score                156 non-null    float64
 3   Economy (GDP per Capita)       156 non-null    float64
 4   Family                         156 non-null    float64
 5   Health (Life Expectancy)       156 non-null    float64
 6   Freedom                        156 non-null    float64
 7   Generosity                     156 non-null    float64
 8   Trust (Government Corruption)  156 non-null    float64
 9   Year                           156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

In [319]:
#Concatenando as databases
uniao = pd.concat([ano_2015,ano_2016,ano_2017,ano_2018,ano_2019], axis = 0)
uniao

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year,Lower Confidence Interval,Upper Confidence Interval,Whisker.high,Whisker.low
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,NaN,152,3.334,NaN,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,2019,NaN,NaN,NaN,NaN
152,Tanzania,NaN,153,3.231,NaN,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,2019,NaN,NaN,NaN,NaN
153,Afghanistan,NaN,154,3.203,NaN,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,2019,NaN,NaN,NaN,NaN
154,Central African Republic,NaN,155,3.083,NaN,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN,2019,NaN,NaN,NaN,NaN
155,South Sudan,NaN,156,2.853,NaN,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,NaN,2019,NaN,NaN,NaN,NaN

In [320]:
# Dropando colunas
uniao.drop(columns = ['Region','Standard Error','Dystopia Residual','Lower Confidence Interval','Upper Confidence Interval', 'Whisker.high', 'Whisker.low'], inplace = True)

In [321]:
uniao

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,2019
152,Tanzania,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,2019
153,Afghanistan,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,2019
154,Central African Republic,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,2019
155,South Sudan,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,2019

In [322]:

consulta_rank = uniao.loc[uniao["Happiness Rank"] <=10]
consulta_rank = consulta_rank.pivot_table(columns = 'Year',index = 'Country',values ="Happiness Rank", fill_value="-")

consulta_rank

Year         2015  2016  2017  2018  2019
Country
Australia    10.0   9.0  10.0  10.0     -
Austria         -     -     -     -  10.0
Canada        5.0   6.0   7.0   7.0   9.0
Denmark       3.0   1.0   2.0   3.0   2.0
Finland       6.0   5.0   5.0   1.0   1.0
Iceland       2.0   3.0   3.0   4.0   4.0
Netherlands   7.0   7.0   6.0   6.0   5.0
New Zealand   9.0   8.0   8.0   8.0   8.0
Norway        4.0   4.0   1.0   2.0   3.0
Sweden        8.0  10.0   9.0   9.0   7.0
Switzerland   1.0   2.0   4.0   5.0   6.0

## Considerações das mudanças no ranking ano a ano
-- Austrália se manteve na décima poisção, até que saiu do top 10 em 2019, cedendo lugar para aa Austria.
-- Queda no ranking do Canadá, saindo do 5ª posição para a 9ª
-- Ascensão no ranking da Finlândia, saindo da 6ª posição para a 1ª nos últimos dois anos.
-- Queda gradativa da Suiça ano a ano, saindo da 1ª posição para a 6ª.
-- Os outros países não apresentaram grandes variações, se mantendo estável ou subindo/descendo um ranking.

In [323]:
consulta_mean = uniao.groupby(['Year']).mean()
consulta_mean = consulta_mean.std()
type(consulta_mean)

pandas.core.series.Series

In [324]:
consulta_final =  uniao.groupby(['Year']).agg('mean').T
consulta_final['STD'] = consulta_mean
consulta_final[2:]

Year,2015,2016,2017,2018,2019,STD
Economy (GDP per Capita),0.846137,0.953880,0.984718,0.891449,0.905147,0.054217
Family,0.991046,0.793621,1.188898,1.213237,1.208814,0.184476
Health (Life Expectancy),0.630259,0.557619,0.551341,0.597346,0.725244,0.070726
Freedom,0.428615,0.370994,0.408786,0.454506,0.392571,0.032203
Trust (Government Corruption),0.143422,0.137624,0.123120,0.111282,0.110603,0.014979
Generosity,0.237296,0.242635,0.246883,0.181006,0.184846,0.032710

In [325]:
uniao.groupby(['Country'])["Economy (GDP per Capita)"].var().nsmallest(3)

Country
Trinidad & Tobago    0.000032
Somalia              0.000128
Comoros              0.000420
Name: Economy (GDP per Capita), dtype: float64

In [326]:
uni=uniao.loc[uniao["Year"]==2015].groupby(['Country'])["Economy (GDP per Capita)"].sum() - uniao.loc[uniao["Year"]==2019].groupby(['Country'])["Economy (GDP per Capita)"].sum()
uni_smallest=pd.DataFrame(uni.nsmallest(3))
uni_largest=pd.DataFrame(uni.nlargest(3))

In [327]:
uni_largest

           Economy (GDP per Capita)
Country
Yemen                       0.25949
Libya                       0.08745
Venezuela                   0.08424

In [328]:
uni_smallest

          Economy (GDP per Capita)
Country
Myanmar                   -0.43892
Guinea                    -0.20583
Tanzania                  -0.19080

In [329]:
top=uniao.loc[uniao["Year"]==2015].groupby(['Country'])["Happiness Rank"].sum() - uniao.loc[uniao["Year"]==2019].groupby(['Country'])["Happiness Rank"].sum()
top=pd.DataFrame(top.nlargest(1))

In [330]:
top_vene=uniao.loc[uniao["Country"]==top.index[0]].groupby(["Year"])["Happiness Rank"].sum()
top_vene=pd.DataFrame(top_vene)
top_vene=top_vene.T
top_vene["Delta"]=top.iloc[0,0]

In [331]:
top_vene.rename(index={"Happiness Rank":top.index[0]})

Year   2015  2016  2017  2018  2019  Delta
Benin   155   153   143   136   102   53.0

In [332]:
Health=uniao.loc[uniao["Year"]==2015].groupby(['Country'])["Health (Life Expectancy)"].sum() - uniao.loc[uniao["Year"]==2019].groupby(['Country'])["Health (Life Expectancy)"].sum()
Health_smallest=pd.DataFrame(Health.nsmallest(3))
Health_largest=pd.DataFrame(Health.nlargest(3))

In [333]:
Health_smallest

            Health (Life Expectancy)
Country
Botswana                    -0.49024
Mozambique                  -0.29869
Malawi                      -0.26938

In [334]:
Health_largest

           Health (Life Expectancy)
Country
Syria                       0.28193
Swaziland                   0.07566
Libya                       0.03080

In [335]:
filter_exit=uniao.groupby(['Country']).size()
filter_exit.loc[filter_exit<5].count()

29

In [336]:
consulta_filter=filter_exit.loc[filter_exit<5]

In [337]:
consulta_filter.index

Index(['Angola', 'Belize', 'Central African Republic', 'Comoros', 'Djibouti',
       'Gambia', 'Hong Kong', 'Hong Kong S.A.R., China', 'Laos', 'Lesotho',
       'Macedonia', 'Mozambique', 'Namibia', 'North Cyprus', 'North Macedonia',
       'Northern Cyprus', 'Oman', 'Puerto Rico', 'Somalia',
       'Somaliland Region', 'Somaliland region', 'South Sudan', 'Sudan',
       'Suriname', 'Swaziland', 'Taiwan', 'Taiwan Province of China',
       'Trinidad & Tobago', 'Trinidad and Tobago'],
      dtype='object', name='Country')

In [338]:
consulta_total = uniao.pivot_table(columns = 'Year',index = "Country",values ="Happiness Rank", fill_value=0)
consulta_total.filter(items=consulta_filter.index,axis=0)
'o'

Year                      2015  2016  2017  2018  2019
Country
Angola                     137   141   140   142     0
Belize                       0    52    50    49     0
Central African Republic   148     0   155   155   155
Comoros                    140   138     0     0   142
Djibouti                   126     0     0     0     0
Gambia                       0     0     0     0   120
Hong Kong                   72    75     0    76    76
Hong Kong S.A.R., China      0     0    71     0     0
Laos                        99   102     0   110   105
Lesotho                     97     0   139   141   144
Macedonia                   93    95    92    89     0
Mozambique                  94     0   113   123   123
Namibia                      0   113   111   119   113
North Cyprus                66    62    61     0     0
North Macedonia              0     0     0     0    84
Northern Cyprus              0     0     0    58    64
Oman                        22     0     0     0     0
Puerto Rico                  0    15     0     0     0
Somalia                      0    76    93    98   112
Somaliland Region            0    97     0     0     0
Somaliland region           91     0     0     0     0
South Sudan                  0   143   147   154   156
Sudan                      118   133   130   137     0
Suriname                    40    40     0     0     0
Swaziland                  101     0     0     0   135
Taiwan                      38    34     0    26    25
Taiwan Province of China     0     0    33     0     0
Trinidad & Tobago            0     0     0    38    39
Trinidad and Tobago         41    43    38     0     0